<!DOCTYPE html>
<html lang="zn-CH">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录-马罗站</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<style>

</style>
<body>
    <div id="page" class="site">
        <div class="container">
            <div class="login">
                <div class="hero">
                    <h1>欢迎登录<br>马罗站</h1>
                    <p>私聊<a href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=2185720896">马罗</a>获取邀请码</p>
                </div>
                <div class="main">
                    <form action="">
                        <p><input type="email" placeholder="邮箱地址"></p>
                        <p class="password">
                            <input type="password" placeholder="你的密码">
                            <!-- <i class="ri-eye-off-line">aaa</i> -->
                            <br>
                            <a href="#" onclick="document.getElementById('msg').innerHTML='忘记密码请私聊马罗';return false">忘记密码</a>
                        </p>
                        <p>
                            <input type="submit" class="submit" value="登录">
                        </p>
                    </form>
                    <div class="separator">
                        <p id="msg"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

    </script>

</body>

</html>